header {
  display: flex;
  justify-content: space-between;

  & a {
    color: var(--c-primary-80);
    text-decoration: none;
  }
  & nav {
    display: flex;
  }
}
.logo {
  filter: invert(86%) sepia(30%) saturate(261%) hue-rotate(358deg) brightness(97%) contrast(88%);
}