/* Buttons */
a.btn {
  position: relative;
  top: 0; left: 0;
  display: block;
  width: fit-content;
  padding: 0.7rem 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: clamp(0.8rem, 4vw, 0.9rem);
  font-weight: 700;
  background-color: var(--c-primary-70);
  color: var(--c-primary);
  border: 1px solid var(--c-primary);
  border-radius: var(--corner-s);
  transition-property: top, left, box-shadow;
  transition-duration: var(--duration-fast);
  transition-timing-function: ease;

  &:hover {
    top: -2px; left: -2px;

    &::after {
      top: 6px; left: 6px;
      /* transform: translate3d(2px, 2px, 0); */
    }
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: var(--corner-s);
    /* box-shadow: 3px 3px 0; */
    transition-property: top, left;
    transition-duration: var(--duration-fast);
    transition-timing-function: ease;
    position: absolute;
    top: 4px; left: 4px;
    z-index: -1;
  }

  &:hover {

    & img {
      animation: shake .2s linear infinite;
    }
  }

  &:has(img) {
    display: flex;
    gap: var(--gutter-s);
    /* padding: .7rem 1rem .7rem 1.2rem; */
  }
  
  &:not(.--primary, .--secondary) {
    box-shadow: 3px 3px 0;
    /* transition: box-shadow 0.5s ease; */

    &:hover {
      box-shadow: 5px 5px 0;
    }
  }
  &.--primary {
    background-color: var(--c-accent);
    color: var(--c-primary-70);
    border-color: var(--c-primary-70);
    
    &::after {
      border: 1px solid var(--c-primary-70);
      top: 5px; left: 5px;
      box-shadow: none;
    }
    &:hover::after {
      top: 7px; left: 7px;
    }
  }

  &.--secondary {
    
    &::after {
      border: 1px solid var(--c-primary-70);
    }
  }
}
@media (width < 768px) {
  a.btn {
    padding: 0.6rem 1rem;
  }
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(7deg) translate3d(0,1px,0); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-7deg) translate3d(0,1px,0); }
  100% { transform: rotate(0deg); }
}