/* Eventlist */

@media (width > 768px) {
  .eventlist article {
    display: grid;
    column-gap: var(--gutter);

    & .eventlist__body {
      grid-column: 1;
      grid-row: span 4;

      & .btn {
        margin-block: var(--gutter);
      }
    }
  }
  body.home .eventlist article {
    grid-template-columns: 1fr 1fr;

    & .event__card, & a.btn {
      grid-column: 2;
    }
  }
}

.event__card {
  padding: var(--gutter-s);
  transition: background-color  var(--duration) ease;
  border-radius: var(--corner);
  position: relative; /*for border*/
  
  &:not(:last-child)::after {
    content: "";
    width: calc(100% - 4.5rem);
    border-bottom: 1px dashed var(--c-primary-50);
    display: block;
    position: absolute;
    bottom: 0; left: 3.5rem;
  }
  & .body {
    margin-left: 2.5rem;
    height: 0;
    overflow: hidden;
    transition: height var(--duration) ease;

    & a.btn {
      margin: var(--gutter) var(--gutter-s);
    }
  }
  
  &[data-expanded="true"] {
    background-color: var(--c-bg-90);

    & i {
      transform: rotate(-45deg);
    }
  }
}
.event__header {
  cursor: pointer;
  display: grid;
  align-items: center;
  grid-template-columns: 24px 1fr 32px;
  gap: var(--gutter-s);

  & img {
    grid-column: 1;
    grid-row: 2;
    margin-top: -0.3rem;
    filter: invert(83%) sepia(16%) saturate(5849%) hue-rotate(332deg) brightness(83%) contrast(84%);
  }
  & span, & h3 {
    grid-column: 2;
  }

  & i {
    grid-column: 3;
    transition: transform 0.3s ease;
    &::after {
      content: '';
      rotate: 90deg;
    }
  }
  & i, & i::after {
    display: block;
    width: 1rem;
    height: 2px;
    background-color: var(--c-primary-50);
  }

  & span {
    font-size: 0.9rem;
    color: #666;
  }
  & span.booked {
    background-color: #ee8864;
    color: var(--c-bg-dark);
    padding: 0 0.5rem 0.1rem;
    border-radius: var(--corner-s);
    margin-left: var(--gutter-s);
  }

  & h3 {
    color: var(--c-primary);
  }
}

@media (width < 768px) {

  .event__header span {
    grid-column: 1/3;
  }
}