section.hero {
  height: 75vh;

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gutter);
    text-align: center;
  }
  & .cta {
    display: flex;
    align-items: center;
    gap: var(--gutter);
  }
}
@media (width >= 768px) {
  section.hero {
    /* min-height: 95vh; */
    
    & .container {
      /* max-width: 40rem; */
    }
  }
}
section.hero h1 {
  color: var(--c-primary-70);
}